# AULA NUMERO 1 - Analise com Pandas

# ** PALAVRA CHAVE: PANDAS

In [2]:
import pandas as pd

In [3]:
link_projeto = ("https://raw.githubusercontent.com/guilhermeonrails/data-jobs/refs/heads/main/salaries.csv")

In [4]:
df = pd.read_csv(link_projeto)

In [5]:
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133349 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   work_year           133339 non-null  float64
 1   experience_level    133349 non-null  object
 2   employment_type     133349 non-null  object
 3   job_title           133349 non-null  object
 4   salary              133349 non-null  int64
 5   salary_currency     133349 non-null  object
 6   salary_in_usd       133349 non-null  int64
 7   employee_residence  133349 non-null  object
 8   remote_ratio        133349 non-null  int64
 9   company_location    133349 non-null  object
 10  company_size        133349 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 11.2+ MB

In [7]:
df.describe()

           work_year        salary  salary_in_usd   remote_ratio
count  133339.000000  1.333490e+05  133349.000000  133349.000000
mean     2024.358770  1.632833e+05  157617.272098      20.905669
std         0.680627  2.173860e+05   74288.363097      40.590044
min      2020.000000  1.400000e+04   15000.000000       0.000000
25%      2024.000000  1.060200e+05  106000.000000       0.000000
50%      2024.000000  1.470000e+05  146206.000000       0.000000
75%      2025.000000  1.990000e+05  198000.000000       0.000000
max      2025.000000  3.040000e+07  800000.000000     100.000000

In [8]:
df.shape

(133349, 11)

In [9]:
linhas, colunas = df.shape

print(f"A base tem dados em {linhas} Linhas e {colunas} Colunas")

A base tem dados em 133349 Linhas e 11 Colunas

In [10]:
colunas_traduzidas = {
    'work_year': 'ano',
    'experience_level': 'senioridade',
    'employment_type': 'contrato',
    'job_title': 'cargo',
    'salary': 'salario',
    'salary_currency': 'moeda',
    'salary_in_usd': 'usd',
    'employee_residence': 'residencia',
    'remote_ratio': 'remoto',
    'company_location': 'empresa',
    'company_size': 'porte_empresa'
}


df.rename(columns= colunas_traduzidas, inplace=True)
df.columns

Index(['ano', 'senioridade', 'contrato', 'cargo', 'salario', 'moeda', 'usd',
       'residencia', 'remoto', 'empresa', 'porte_empresa'],
      dtype='object')

In [11]:
senioridade = {
'SE': "Senior",
'MI': "Pleno",
'EN': "Junior",
'EX': "Executivo"
}

df['senioridade']= df['senioridade'].replace(senioridade)
df['senioridade'].value_counts() #caucula a frequencia de cada nivel de experiencia

senioridade
Senior       77241
Pleno        40465
Junior       12443
Executivo     3200
Name: count, dtype: int64

In [12]:
df['cargo'].value_counts()

cargo
Data Scientist               17314
Software Engineer            15007
Data Engineer                14868
Data Analyst                 12381
Engineer                      9456
                             ...
Platform Data Engineer           1
AI Engineering Lead              1
Advanced Data Analyst            1
Business Insights Manager        1
Marketing Data Scientist         1
Name: count, Length: 390, dtype: int64

In [13]:
contrato = {
'FT': "Integral",
'PT': "Parcial",
'FL': "Freelancer",
'CT': "Contrato"
}

df['contrato']= df['contrato'].replace(contrato)

df['contrato'].value_counts()

contrato
Integral      132563
Contrato         394
Parcial          376
Freelancer        16
Name: count, dtype: int64

In [14]:
remoto = {
0: "Presencial",
100: "Remto",
50: "Hibrido"
}

df['remoto']= df['remoto'].replace(remoto)
df['remoto'].value_counts()

remoto
Presencial    105312
Remto          27718
Hibrido          319
Name: count, dtype: int64

In [15]:
empresa = {
'S': "Pequena",
'M': "Media",
'L': "Grande"
}

df['porte_empresa']= df['porte_empresa'].replace(empresa)

df['porte_empresa'].value_counts()

porte_empresa
Media      129561
Grande       3574
Pequena       214
Name: count, dtype: int64

In [16]:
df.head()

,ano,senioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,porte_empresa
0,2025.0,Senior,Integral,Solutions Engineer,214000,USD,214000,US,Remto,US,Media
1,2025.0,Senior,Integral,Solutions Engineer,136000,USD,136000,US,Remto,US,Media
2,2025.0,Pleno,Integral,Data Engineer,158800,USD,158800,AU,Presencial,AU,Media
3,2025.0,Pleno,Integral,Data Engineer,139200,USD,139200,AU,Presencial,AU,Media
4,2025.0,Junior,Integral,Data Engineer,90000,USD,90000,US,Presencial,US,Media

In [17]:
df.describe(include = "object")

,senioridade,contrato,cargo,moeda,residencia,remoto,empresa,porte_empresa
count,133349,133349,133349,133349,133349,133349,133349,133349
unique,4,4,390,26,102,3,95,3
top,Senior,Integral,Data Scientist,USD,US,Presencial,US,Media
freq,77241,132563,17314,126140,119579,105312,119641,129561

## AULA NUMERO 2 - Preparação e limpeza

In [19]:
df.isnull().sum()

ano              10
senioridade       0
contrato          0
cargo             0
salario           0
moeda             0
usd               0
residencia        0
remoto            0
empresa           0
porte_empresa     0
dtype: int64

In [20]:
df['ano'].unique()

array([2025.,   nan, 2024., 2022., 2023., 2020., 2021.])

In [21]:
df[df.isnull().any(axis=1)]

,ano,senioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,porte_empresa
5588,NaN,Senior,Integral,Product Manager,184500,USD,184500,US,Presencial,US,Media
59692,NaN,Pleno,Integral,Engineer,110000,USD,110000,DE,Presencial,DE,Media
59710,NaN,Junior,Integral,Data Scientist,208800,USD,208800,US,Presencial,US,Media
59759,NaN,Senior,Integral,Software Engineer,135000,USD,135000,US,Presencial,US,Media
59789,NaN,Senior,Integral,Engineer,112000,USD,112000,US,Presencial,US,Media
131000,NaN,Senior,Integral,Machine Learning Engineer,163800,USD,163800,US,Presencial,US,Media
131006,NaN,Senior,Integral,Data Analytics Manager,204500,USD,204500,US,Presencial,US,Media
133054,NaN,Junior,Integral,Data Scientist,40000,USD,40000,JP,Remto,MY,Grande
133281,NaN,Pleno,Integral,Machine Learning Engineer,180000,PLN,46597,PL,Remto,PL,Grande
133317,NaN,Pleno,Integral,Data Scientist,130000,USD,130000,US,Hibrido,US,Grande

In [ ]:
df_salarios = pd.DataFrame([
    'nome',
    
    
    
    ])